.header {
  background: url(../img/bg-header.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 500px;

  &__inner {
  padding-left: 10px;
  padding-right: 10px;
  }
}

.toggler {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 20px;
  display: flex;
  align-items: space-around;
  width: 20px;
  height: 20px;
  line-height: 2em;
  user-select: none;

  &:before {
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: -11px;
  display: block;
  width: 38px;
  height: 38px;
  content: '';
  }

  &:before {
    border: 2px solid #c2d7d9;
  }

  @media (min-width: $screen-sm) {
    display: none;
  }

  > span {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: .1rem;
    background: #c2d7d9;
    border-radius: .1rem;
    position: relative;
    transition: background .3s .5s;

    &:before,
    &:after {
      width: 100%;
      height: .1rem;
      background: #c2d7d9;
      border-radius: .1rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }

    &:before {
      top: 0.5rem;
    }

    &:after {
      top: -0.5rem;
    }
  }

  &--close {
    > span {
      transition: background .3s 0;
      background: transparent;

      &:before,
      &:after {
        transition: top .3s, transform .3s .5s;
        top: 0;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}


.main-nav {
  background-color: #1c1531;
  margin: 0;
  position: absolute;
  left: -140px;
  min-width: 140px;
  transition: all .8s ease;
  padding-top: 98px;
  height: 100%;

  @media (min-width: $screen-sm) {
    position: static;
    background-color: rgba(0,0,0,.3);
    padding-top: 0;

  }

  &--visible {
    left: 0;
  }

  &__list {
    padding: 10px;

    @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    }
  }

  &__item {
    list-style: none;
    font-family: $font-family-jura;
    font-size: $text-smallest;
    font-weight: 300;
    line-height: 2.57;
    color: $cyan;

    @media (min-width: $screen-sm) {
      justify-content: space-around;
    }
  }

  &__link {
    color: $cyan;
    text-decoration: none;
  }
}

.main-title {

  &__head {
  font-family: Nord;
  font-size: $text-big;
  font-weight: $font-weight-l;
  line-height: 0.5;
  color: $cyan;
  padding-top: 236px;
  margin-top: 0;
  }

  &__description {
  font-family: $font-family-jura;
  font-size: $text-small;
  font-weight: $font-weight-l;
  color: $cyan;
  }
}

.side-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0,0,0,.3);
  height: 100%;
  width: 40px;
  padding-top: 294px;

  @media (min-width: $screen-sm) {
    display: none;
  }


  &__link {
    transform: rotate(-90deg);
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: $cyan;
    font-size: $text-12;
    font-family: $font-family-ubuntu;
    font-weight: $font-weight-l;
  }
}