.places {
  overflow: hidden;

  @media (min-width: $screen-lg) {
    min-height: 531px;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__title {
    font-family: $jura;
    font-size: $text-medium;
    font-weight: $font-weight-l;
    line-height: 0.94;
    color: $violet-light;
    padding-top: 6px;

    @media (min-width: $screen-lg) {
      padding-top: 30px;
      font-size: $text-big;
    }
  }

  &__info {
    box-sizing: border-box;
    padding: 0 10px;

    @media (min-width: $screen-sm) {
      width: 43%;
      float: right;
    }

    @media (min-width: $screen-lg) {
      width: 45%;
      padding: 0 26px;
    }
  }

  &__text {
    font-family: $ubuntu;
    font-size: $text-12;
    font-weight: $font-weight-l;
    line-height: 1.57;
    color: $violet-light;
    padding-top: 12px;

    @media (min-width: $screen-lg) {
      font-size: $text-small;
      line-height: 1.88;
      padding-top: 48px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
  }

  &__item {
    font-family: $jura;
    font-size: $text-extra-small;
    font-weight: $font-weight-l;
    line-height: 1.88;
    position: relative;

    @media (min-width: $screen-lg) {
      font-size: $text-small;
      padding-left: 10px;
    }
  }

  &__item:before {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    top: 4px;
    left: -18px;

    @media (min-width: $screen-lg) {
      width: 15px;
      height: 15px;
      top: 8px;
      left: -20px;
    }
  }

  &__item--pink:before {
    background-color: #ef8989;
  }

  &__item--aqua:before {
    background-color: #04a8a8;
  }

  &__item--light-green:before {
    background-color: #cdd63f;
  }

  &__item--orange:before {
    background-color: #efb672;
  }

  &__list--mobile {
    display: none;

  @media (min-width: $screen-sm) {
    display: flex;
  }
  }

  &__list--visible {
    display: flex;

  @media (min-width: $screen-sm) {
    display: none;
  }

  }

  &__map {
    line-height: 0;

    img {
      width: 100%;
      height: auto;
      min-height: 330px;
      max-width: 670px;

      @media (min-width: $screen-sm) {
        max-width: 428px;
        max-height: 330px;
      }

      @media (min-width: $screen-lg) {
        width: 100%;
        max-width: 670px;
        min-height: 531px;
      }
    }

    @media (min-width: $screen-sm) {
      width: 55%;
      float: left;
    }
  }
}