.price {
  min-height: 520px;

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__title {
    font-family: $jura;
    font-size: $text-medium;
    font-weight: $font-weight-l;
    line-height: 0.97;
    color: $violet-light;
    padding-top: 10px;
  }

  &__list {
    padding-left: 0;
    list-style: none;
    padding-top: 10px;
  }

  &__item {
    font-family: $jura;
    font-size: $text-12;
    font-weight: $font-weight-l;
    line-height: 1.3;
    color: $dark-blue-grey;
    padding-bottom: 30px;
  }

  &__link {
    color: $dark-blue-grey;
    text-decoration: none;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 5px;
      width: 5px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
      position: absolute;
      top: 4px;
      right: -20px;;
    }
  }

  &__link--active {
      color: #89c1a1;
  }

  &__link--active:after {
      content: "";
      display: block;
      height: 4px;
      width: 4px;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(135deg);
      position: absolute;
      top: 4px;
      left: 70px;
      border-color: #89c1a1;
  }



  &__list--mobile {
    display: none;

    @media (min-width: $screen-sm) {
    display: flex;
    }
  }

  &__list--desktop {

    @media (min-width: $screen-sm) {
    display: none;
    }
  }

  &__content {

  }

  &__table {
    text-align: center;
    border: 1px solid #d0d0d0;
    border-collapse: collapse;

    th {
      font-family: $ubuntu;
      font-size: $text-extra-small;
      font-weight: $font-weight-b;
      line-height: 2.34;
      color: $violet-dark;
      padding: 8px 28px;
      border-right: 1px solid #d0d0d0;
    }

    td {
      font-family: $ubuntu;
      font-size: $text-extra-small;
      font-weight: $font-weight-l;
      line-height: 1.6;
      border-right: 1px solid #d0d0d0;
      color: $violet-dark;
      padding: 6px 8px;
    }
  }
}

.offers {
  font-family: $ubuntu;
  font-size: $text-12;
  font-weight: $font-weight-l;
  line-height: 1.95;
  color: $violet-dark;
  padding-top: 24px;
  padding-bottom: 50px;
  display: block;
}