.price {
  min-height: 520px;

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__title {
    font-family: $jura;
    font-size: $text-medium;
    font-weight: $font-weight-l;
    line-height: 0.97;
    color: $violet-light;
    padding-top: 10px;

    @media (min-width: $screen-lg) {
      font-size: $text-big;
      padding-top: 60px;
    }
  }

  &__list {
    padding-left: 0;
    list-style: none;
    padding-top: 10px;

    @media (min-width: $screen-lg) {
      width: 93%;
      display: inline-flex;
      justify-content: space-between;
      margin-top: 0;
    }

  }

  &__item {
    font-family: $jura;
    font-size: $text-12;
    font-weight: $font-weight-l;
    line-height: 1.3;
    color: $dark-blue-grey;
    padding-bottom: 30px;
    position: relative;
  }

  &__link {
    color: $dark-blue-grey;
    text-decoration: none;
    position: relative;

    @media (min-width: $screen-lg) {
      font-size: $text-medium;
    }

    &:after {
      content: "";
      display: block;
      height: 6px;
      width: 6px;
      border-top: 1px solid #494949;
      border-right: 1px solid #494949;
      transform: rotate(45deg);
      position: absolute;
      top: 3px;
      right: -20px;
      transition: all 0.8s ease;
    }
  }

  .is-active {
      color: #89c1a1;
  }

  .is-active:after {
      height: 6px;
      width: 6px;
      transform: rotate(135deg);
      top: 5px;
      border-color: #89c1a1;
  }



  &__list--mobile {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__list--desktop {

    @media (min-width: $screen-sm) {
      display: none;
    }

  }

  &__content {
    display: none;
  }

  &__content.is-active {
    display: block;
  }

  &__table {
    text-align: center;
    border: 1px solid #d0d0d0;
    border-collapse: collapse;

    th {
      font-family: $ubuntu;
      font-size: $text-extra-small;
      font-weight: $font-weight-b;
      line-height: 2.34;
      color: $violet-dark;
      padding: 8px 28px;
      border-right: 1px solid #d0d0d0;

      @media (min-width: $screen-lg) {
        font-size: $text-small;
        line-height: 2.25;
        padding: 13px 86px;

        &:nth-child(2) {
          padding: 13px 116px;
        }
      }
    }

    td {
      font-family: $ubuntu;
      font-size: $text-extra-small;
      font-weight: $font-weight-l;
      line-height: 1.6;
      border-right: 1px solid #d0d0d0;
      color: $violet-dark;
      padding: 6px 8px;

      @media (min-width: $screen-lg) {
        font-size: $text-small;
        line-height: 2.25;
        padding: 16px;
      }
    }
  }
}

.offers {
  font-family: $ubuntu;
  font-size: $text-12;
  font-weight: $font-weight-l;
  line-height: 1.95;
  color: $violet-dark;
  padding-top: 24px;
  padding-bottom: 50px;
  display: block;

  @media (min-width: $screen-lg) {
    font-size: $text-small;
    line-height: 2.25;
  }
}