.slide-section {

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  &__inner {
    max-width: 1170px;
    margin: 0 auto;
  }

  &__info {
    padding: 0 10px;
    width: 100%;
    background: url('../img/slide-section__visual.jpg') no-repeat;
    background-size: cover;
    min-height: 400px;
    box-sizing: border-box;

    @media (min-width: $screen-sm) {
      width: 50%;
      display: inline-block;
      float: left;
      background: none;
      min-height: 344px;
    }

    @media (min-width: $screen-lg) {
      min-height: 522px;
    }
  }

  &__title {
    margin-top: 0;
    font-family: $jura;
    font-size: $text-medium;
    font-weight: $font-weight-l;
    line-height: 1.19;
    color: $text-color;
    padding-top: 34px;


    @media (min-width: $screen-sm) {
      color: $violet-dark;
    }

    @media (min-width: $screen-lg) {
      font-size: $text-big;
    }
  }


  &__visual {
    background: url('../img/slide-section__visual.jpg') no-repeat;
    width: 50%;
    display: none;
    min-height: 364px;

    @media (min-width: $screen-sm) {
      display: inline-block;
      width: 50%;
      float: right;
      background: none;
      min-height: 344px;
      line-height: 0;
    }

    @media (min-width: $screen-lg) {
      min-height: 522px;
    }
  }

  &__visual-img {
    width: 100%;
    min-width: 364px;
    min-height: 344px;

    @media (min-width: $screen-lg) {
      width: 100%;
      min-height: 522px;
    }
  }
}

.slider {

    &__item {
      padding: 0 14px 0 0px;

        @media (min-width: $screen-sm) {
        padding: 0 0 0 16px;
      }

       @media (min-width: $screen-lg) {
        padding: 40px 0 0 16px;
      }
    }


    &__text {
    font-family: $ubuntu;
    font-size: $text-12;
    font-weight: $font-weight-l;
    line-height: 1.66;
    padding-top: 20px;
    color: $text-color;
    min-height: 140px;

    @media (min-width: $screen-sm) {
      color: $violet-dark;
      float: right;
      width: 89%;
    }

    @media (min-width: $screen-lg) {
      font-size: $text-small;
    }
  }
}


