$screen-sm:                   768px;
$screen-lg:                   1280px;

$text-color:                  #ffffff;
$cyan:                        #e6fffd;
$violet-dark:                 #201c38;
$violet-light:                #4d4b5c;
$dark-blue-grey:              #191c3f;
$grey-light:                  #e6e6e6;

$text-extra-big:              50px;
$text-big:                    30px;
$text-medium:                 20px;
$text-small:                  16px;
$text-smallest:               14px;
$text-12:                     12px;
$text-extra-small:            10px;

$font-weight-l:               300;
$font-weight-m:               500;
$font-weight-b:               700;


$ubuntu:                      'Ubuntu', sans-serif;
$jura:                        'Jura', sans-serif;
$font-size:                   14px;
$line-height:                 1.4;
